.datatable {
	border-collapse: collapse; 
	border: 1px solid green;
}
.datatable th {
	border: 1px solid green;
	color: white;
	background-color: yellowgreen;
}

.datatable td {
	border: 1px solid green;
	padding-right: 40px;
}

.datatable tr:nth-child(odd) {
	background-color: white;
}

.datatable tr:nth-child(even) {
	background-color: whitesmoke;
}